/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #8ba2ab;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #3e3e3e;
}

a,
a:hover,
a:focus {
    /* color: #07d481; */
    color: #07d481;
    text-decoration: none;
    transition: all 0.3s;
}
.content {
    /* background-image: url("/static/image/background.jpg"); */
    background-color: #f3f3f3;
    padding: 70px 0;
}
/* Navigation */
nav {
    /* background-color: #242424; */
    position: static;
    top: 0;
}
nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    padding: 30px 20px 30px 0;
}
nav ul li a {
    color: #8ba2ab;
}

li.active a {
    color: #07d481;
}

/* Form */

table,
.form-login,
input,
input[type="text"] {
    background-color:white;
}
.form-login {
    padding: 60px 70px 80px;
    display: inline-block;
}
table {
    padding: 20px;
}

input,
button[type=submit] {
    height: 45px;
    padding: 10px 20px;
    /* margin-top: 10px; */
    border-radius: 0.3;
}
.form-login input,
.form-login button {
    width: 300px;
}
input {
    border: 1px solid #dee8eb;
    /* text-transform: uppercase; */
}
input:hover,
input[type=text]:focus {
    transition: all 0.3s;
    border-color: #07d481;
}
input,
input::placeholder,
th,
td {
    color: #8ba2ab;
    font-size: 14px;
}

form button[type=submit]{
    background-color: #07d481;
}
.btn,
.btn:hover {
    color: white;
}
form h2 {
    margin-bottom: 35px;
    text-align: center;
}

.form-group {
    margin-bottom: 0.3rem;
}
.form-group span {
    display: block;
    height: 20px;
    margin-top: 7px;
    font-size: 12px;
    text-align: right;
    opacity: 0;
}
.form-group.invalid span {
    opacity: 1;
}
.hide {
    display: none;
}